<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://static.pexels.com/photos/69372/pexels-photo-69372.jpeg", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
     <p> I am 13 years old, <em>but my mental age could be slightly lower. </em>
     I am currently majoring in absolutely nothing and have no idea where I'm heading with my life.
     I have a family, which consists of me, my mom, my dad, and my younger sister. I'm currently trying to add a new addition to the family-
     a dog- but my mom won't let me :( Another problem would be the fact that I'm allergic to dogs and other things,
     but that's not going to stop me from getting one! </p>
     
     <p> Another fact you might want to know about me is that I am <em> really</em> short, or at least for my age.
     I'm not even five foot yet, so that's pretty sad. I blame genetics.</p>
  </div>
</div>
