<div class="app-card-container">
  <div class="card">
    <h1>Contact info</h1>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <!--<h3></h3>-->

        <!--<p>7150 E Camelback Rd, Suite 444, Scottsdale, AZ 85251</p>-->

        <h3>Phone Number</h3>

        <p><%= number_to_phone "1234567890" %></p>

        <h3>Email</h3>

        <p>nicole@nicole.com</p>
        
        <hr>
        
        <p> A really great place, and where you can occassionally find me --></p>
        
        <p> All of this is <em> totally</em> true</p>
      </div>

      <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.11199206691!2d-111.70737738425787!3d40.27326237938207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9afb05d128bf%3A0x3cee7451fe3766fb!2sKrispy+Kreme+Doughnuts!5e0!3m2!1sen!2sus!4v1501770776241"width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    
      </div>
    </div>
  </div>
</div>

