<h1>Contact Information</h1>

<hr>

<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    
    <h6>Totally my number:</h6>

    <p> <%= number_to_phone "1234567890" %></p>

    <!--<p> <%= number_to_currency "18450" %></p>-->

    <!--<p> <%= number_with_delimiter "2345678" %></p>-->

    <p> My email is nicole@nicole.com</p>

    <p> All of this is <em> totally </em> true</p>
     
    <p> Map of a really great place, and where you can find me: </p>
  <!--</div>-->
  
  <div class "col-md-6">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14479.301234230801!2d-111.69996837763911!3d40.27801317635247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9afb05d128bf%3A0x3cee7451fe3766fb!2sKrispy+Kreme+Doughnuts!5e0!3m2!1sen!2sus!4v1500300701294" width="500" height="450" frameborder="0" style="border:2" allowfullscreen></iframe>
  </div> 

</div>

