<div class="inner cover">
  <h1 class="cover-heading">~Welcome~</h1>
  <p class="lead">This is a collection of random things I think of and type, so it is probably not going to make any sense </p>
  <p class="lead">
   <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
<div>



